[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==2.2.4"
pandas = "==2.2.3"
matplotlib = "==3.10.1"
pytest = "==8.3.5"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
